<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
     
    <!-- 别名 -->
    <typeAliases>
        <typeAlias alias="Employee" type="cn.edu.shou.hsh.model.Employee"/>
    </typeAliases>
     
    <!-- ORM映射文件 -->
    <mappers>
        <mapper resource="cn/edu/shou/hsh/mapping/EmployeeMapper.xml" />
    </mappers>
     
     
</configuration>