<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kettle 4.4.0/src-ui/org/pentaho/di/ui/spoon/Spoon.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.pentaho.di.ui.spoon.Spoon"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Kettle 4.4.0"/>
</launchConfiguration>
