<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kettle 4.4.0/src-plugins/kettle-hl7-plugin/lib/hapi-base-1.1.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.uhn.hl7v2.parser.XMLParser$1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Kettle 4.4.0"/>
</launchConfiguration>
